name: rps
description: rps (Run Pubspec Script) allows you to define and run scripts from pubspec.yaml.
version: 0.7.0-dev.6
repository: https://github.com/gonuit/rps
homepage: https://github.com/gonuit/rps
issue_tracker: https://github.com/gonuit/rps/issues

executables:
  rps:

environment:
  sdk: ">=2.19.4 <4.0.0"

dependencies:
  yaml: ^3.1.1
  path: ^1.8.2
  ffi: ^2.0.1

dev_dependencies:
  flutter_lints: ^2.0.1
  test: ^1.21.6
